*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

body, .quote-input {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
     sans-serif;
}

/*these dots contain the class, and will adjust the different attributes in the class*/

.container {
    /*this is the background of the quote and typing quote box*/
    background-color: plum;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    /*this is the timer*/
    position: absolute;
    top: 10rem;
    font-size: 4rem;
    color:cadetblue;
}

.quote-display {
    /*this is the quote display*/
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.quote-input {
    /*this is the quote input*/
    background-color: peachpuff;
    border: 3px solid palevioletred ;
    outline: none; /*this makes it so the outline of the box isn't highlighted*/
    width: 100%;
    height: 8rem;
    margin: auto; /*makes sure it always stays centerd*/
    resize: none; /*keeps that annoying resize option gone*/
    padding: .5rem 1rem; /*makes some space from the outline*/
    font-size: 1rem;
    border-radius: .4rem; /*makes borders round*/

}

/*this lets people know that the specific class is being focused on (clicked on) */
/*important to do so if you ever disable outline*/
.quote-input:focus {
    border-color:white;
}

.correct {
    color: olivedrab;
}

.incorrect {
    color: indianred;
    text-decoration: underline;
}